#!/usr/bin/env bash

# Load parent environment
source_up

[ -f .git/hooks/pre-commit ] || pre-commit install

# Load environment variables
[ -f .env ] || cp .env.example .env
dotenv .env

# Uncomment to use the new docker buildkit tools
# export DOCKER_BUILDKIT=1
# export COMPOSE_DOCKER_CLI_BUILD=1
