#!/usr/bin/env bash

source_up

export PATH="$PWD/bin:./bin:$PATH"

[ -f "$PWD/.env" ] || cp "$PWD/.env.example" "$PWD/.env"
dotenv "$PWD/.env"

# Uncomment to use the new docker builkit tools
# export DOCKER_BUILDKIT=1
# export COMPOSE_DOCKER_CLI_BUILD=1
