# Node modules for doc generation
node_modules/

# Virtual environment for requirements
venv/

# Pycache from j2
__pycache__/

# Direnv
.direnv/

# Environment variables
.env

# Docker Storage
.docker/

# Common build directories
build/
dist/
out/
tmp/

*.gz
*.bak
*.log
*.tar
*.tmp
*.tgz
*.zip
*.deb
*.rpm
*.pkg

##
# OS Files
##

# Mac OS
.DS_Store
._*
.Trashes/

# Linux
*~
*.swp

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
